<div class="ui raised segment">
    <table class="ui fixed table">
        <thead>
            <tr>
                <th colspan="2">Date</th>
                <th>Weight</th>
                <th>Chest</th>
                <th>Thigh</th>
                <th>Upper Arm</th>
                <th>Waist</th>
                <th>Hips</th>
                <th>Trend</th>
                <th colspan="2">Comment</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <div class="ui bulleted list">
                {{#each assessments}}
                    <tr>
                        <td colspan="2"> {{date}} </td>
                        <td> {{weight}} </td>
                        <td> {{chest}} </td>
                        <td>{{thigh}}</td>
                        <td> {{upperarm}} </td>
                        <td> {{waist}} </td>
                        <td> {{hip}} </td>
                        <td>
                            {{#if trend}}
                                <i class="green ui tag label"></i>
                            {{else}}
                                <i class="red ui tag label"></i>
                            {{/if}}
                        </td>
                        <td colspan="2">comment</td>
                        <td>
                            <a href="/delete/assessment/{{id}}" class="ui icon button">
                                <i class="icon trash"></i>
                            </a>
                        </td>
                {{/each}}
            </div>
        </tbody>
    </table>
</div>