<h1>Trainer {{trainer.firstName}} {{trainer.lastName}}</h1>
{{#each members}}
    <div class="ui raised segment">
        <div class="ui grid">
            <div class="row">
                <div class="column ">
                    <i class=" huge icon github"></i>
                </div>
                <div class="column four wide">
                    <h2 class="ui header blue">
                        <a href="/member/{{id}}">{{firstName}} {{lastName}}</a>
                    </h2>
                    <p> number of assesments: {{numberOfAssessments}} </p>
                </div>
                <div class="column">
                    <a href="/delete/member/{{id}}" class="ui icon button">
                        <i class="red icon trash"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{{/each}}