<section class="ui raised segment">
    <h2>Member Assessments</h2>
    {{#each assessments}}
        <table class="ui fixed table">
            <thead>
                <tr>
                    <th colspan="2">Date</th>
                    <th>Weight</th>
                    <th>Chest</th>
                    <th>Thigh</th>
                    <th>Upper Arm</th>
                    <th>Waist</th>
                    <th>Hips</th>
                    <th>Trend</th>
                    <th colspan="2">Comment</th>
                </tr>
            </thead>
            <tbody>
                <div class="ui bulleted list">
                    <tr>
                        <td colspan="2"> {{date}} </td>
                        <td> {{weight}}</td>
                        <td> {{chest}} </td>
                        <td> {{thigh}} </td>
                        <td> {{upperarm}}</td>
                        <td> {{waist}} </td>
                        <td> {{hip}} </td>
                        <td>
                            {{#if trend}}
                                <i class="green ui tag label"></i>
                            {{else}}
                                <i class="red ui tag label"></i>
                            {{/if}}
                        </td>
                        <td colspan="2">{{comment}}</td>
                    </tr>
                    <tr>
                        <td colspan="11">
                            <form class="ui raised segment form"
                                action="/member/{{../member.id}}/add-comment-assessment/{{id}}" method="POST">
                                <div class="field">
                                    <label>Comment</label>
                                    <textarea rows="2" cols="50" name="comment"></textarea>
                                </div>
                                <button class="ui blue submit button">Update</button>
                            </form>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    {{/each}}
    </div>
</section>